[Unit]
Description=Buzz CI unprivileged fixed job executor
Requires=buzz-ci-executor.socket

[Service]
Type=simple
ExecStart=/usr/libexec/buzz-ci-executor --socket-activation
User=buzzci-job
Group=buzzci-job
SupplementaryGroups=
UMask=0077
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
DevicePolicy=closed
ProtectSystem=strict
ProtectHome=yes
ProtectClock=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ProtectProc=invisible
ProcSubset=pid
ReadOnlyPaths=/usr/libexec/buzz-ci-executor /var/lib/buzzci/seccomp/v1/sha256/2598b3b98e6970f37f917e210202fa8976aefcd99abf8955803a6e35bba17eb4.json
ReadWritePaths=/var/lib/buzzci/execd-v2/attempts
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallArchitectures=native
SystemCallFilter=~@clock @cpu-emulation @debug @module @mount @obsolete @privileged @raw-io @reboot @resources @swap
LockPersonality=yes
MemoryDenyWriteExecute=yes
MemoryMax=134217728
TasksMax=16
LimitNPROC=16
LimitNOFILE=64
LimitFSIZE=65536
StandardOutput=null
StandardError=null
