[Unit]
Description=Buzz CI privileged broker control socket

[Socket]
ListenStream=/run/buzzci/execd.sock
FileDescriptorName=buzz-ci-execd
SocketUser=root
SocketGroup=buzzci-execd
SocketMode=0620
DirectoryMode=0711
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
